# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Database
instance/expenses.db
*.sqlite3

# VSCode / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
